body{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}
.qr{
    border-radius: 7.5%;
    padding-top:10px;
    height:200px;
    width:200px;
}
.box{
    margin: auto;
    border-radius: 5%;
    background-color: white;
    height: 370px;
    width:220px;
}
.heading{
    font-family: Arial;
}
.para{
    padding: 0 10px;
    color: hsl(220, 15%, 55%);
    font-family: Arial;
    font-size: 12px;
}
section{
    margin-right: 100px;
    margin:100px;
    padding:100px;
    height: 400px;
    width:75%;
    background-color: hsl(218, 44%, 22%);
}